<p class='sima_cim'>Desktop Notes</p>

<table width='100%' cellspacing='10px' cellpadding='0' border='0'>
<tr>
  <td width='50%' style='vertical-align:top'><img src='/images/albums/screenshot/dn/images/pn10211.png' alt='' width='300px' height='225px' /></td>
  <td width='50%' style='vertical-align:top'>
    Desktop Notes is an application for PCs and laptops. You can manage
    and display your notes on the PC or the notebook. Printing support
    is going to be added to it.<br />
    <br />
    Desktop Notes supports different languages, and can be easily
    extended.<br />
    <br />
    Desktop Notes is a Java application, so you can use it in a Linux,
    Machintos or even in a Windows enviroment.<br />
    <br />
    You can find
    <a href='/screenshots'>screenshots</a> of the application on
    this site.
    <br />
    A test version of the program is already available at the
    <a href='/download'>Downloads</a> page.
    <br />
    You can download the jar file itself, which the Java Runtime Enviroment can
    execute (eg. on a Mac). It downloads the rest of the files at the first
    time you run it, so it needs an Internet connection.<br />
    I have no Mac experience. If anyone use it on a Mac, a report about the way it works or
    some screenshots are welcomed (see <a href='/contact'>Contact</a>).<br />
    If you can create a Mac installer for the program, I'll make it available
    here. (And your name will be displayed).
  </td>
</tr>
</table>
