<p class='sima_cim'>
  Information for developers
</p>

<p>
  Here are information for everyone who wants to write extra applications for
  the program or wants to use the notes in his programs.
</p>

<ul>
  <li>
    <p><a href='/apn'>The format of the Pocket Notes files</a></p>
    <p style='padding-left:10px;'>
      The internal structure of the .apn files. If you want to write your
      own reader or writer, you can do it based on this document.
    </p>
  </li>
  
  <li>
    <p><a href='/php'>Pocket Notes file handler PHP library</a></p>
    <p style='padding-left:10px;'>
      A PHP library, which you can work with .apn files with from a PHP
      script. The on-line converter also uses this library.
    </p>
  </li>
</ul>
