<p class='sima_cim'>
  For users
</p>

<table width='100%' align='center' cellspacing='10px' cellpadding='0' border='0'>

<tr>
  <td class='mezo_nev' style='width:60%'>
    Pocket Notes 0.4, test version
  </td>
  <td class='mezo_ertek' style='width:40%;text-align:right'>
    <a href='/downloads/PocketNotes_0.4.arm.CAB'>Download</a> (254 Kb)
  </td>
</tr>

<tr>
  <td class='mezo_nev' style='width:60%'>
    Pocket Notes 0.3, test version
  </td>
  <td class='mezo_ertek' style='width:40%;text-align:right'>
    <a href='/downloads/PocketNotes_0.3.arm.CAB'>Download</a> (230 Kb)
  </td>
</tr>

</table>

<br />

<p class='sima_cim'>
  Desktop Notes (0.2, test version)
</p>

<table width='100%' align='center' cellspacing='10px' cellpadding='0' border='0'>

<tr>
  <td class='mezo_nev' style='width:60%'>
    Linux installer (start it from a console!)
  </td>
  <td class='mezo_ertek' style='width:40%;text-align:right'>
    <a href='/downloads/DesktopNotes_0_2_install.sh'>Download</a> (300 Kb)
  </td>
</tr>

<tr>
  <td class='mezo_nev' style='width:60%'>
    Windows installer (includes the Java runtime enviroment)
  </td>
  <td class='mezo_ertek' style='width:40%;text-align:right'>
    <a href='/downloads/DesktopNotes_0_2_setup.exe'>Download</a> (13 Mb)
  </td>
</tr>

<tr>
  <td class='mezo_nev' style='width:60%'>
    JAR file (Internet connection is required at first use)
  </td>
  <td class='mezo_ertek' style='width:40%;text-align:right'>
    <a href='/downloads/DesktopNotes.jar'>Download</a> (600 Kb)
  </td>
</tr>

</table>

<br />

<p class='sima_cim'>
  For developers
</p>

<table width='100%' align='center' cellspacing='10px' cellpadding='0' border='0'>

<tr>
  <td class='mezo_nev' style='width:60%'>
    Pocket Notes file handler PHP library
  </td>
  <td class='mezo_ertek' style='width:40%;text-align:right'>
    <a href='/downloads/PocketNotes_PHP_0_1.zip'>Download</a> (12 Kb)
  </td>
</tr>

</table>



<br />
<br />

<p>You can download and use the programs at your own risk!</p>
