<p class='sima_cim'>Installation instructions</p>
<p class='sima_alcim'>Installation directly to the PDA</p>
<p>
  Start the Inter Explorer on the PDA, and download the installer of latest version
  to the PDA. Answer "Yes" to the question.
</p>

<p class='sima_alcim'>Installation using a Windows based desktop computer</p>
<p>
  Download the installer of the latest version to the desktop computer and
  copy it to the PDA (you can use Microsoft ActiveSync). Open the file on the
  PDA using the File Explorer. After the installation a PocketNotes item will
  appear in the menu, by with you can start the program.
</p>

<p class='sima_alcim'>Uninstallation</p>
<p>
  Select the System tab in the Settings menu. Select the Remove Programs. You will
  see the list of the installed applications - tap on AbelSoft PocketNotes and after
  it tap on Remove.
</p>
