<p class='sima_cim'>Desktop Notes</p>

<table width='100%' cellspacing='10px' cellpadding='0' border='0'>
<tr>
  <td width='50%' style='vertical-align:top'><img src='/images/albums/screenshot/dn/images/pn10211.png' alt='' width='300px' height='225px' /></td>
  <td width='50%' style='vertical-align:top'>
    A Desktop Notes egy PC-kre és laptopokra készített alkalmazás. Megjeleníthetjük
    és rendszerezhetjük vele jegyzeteinket PC-nken vagy laptopunkon. A program
    késõbb támogatni fogja a jegyzetek kinyomtatását is.<br />
    <br />
    A Desktop Notes-ban megváltoztatható a felület nyelve, és könnyedén lehet
    további nyelvekkel bõvíteni.<br />
    <br />
    A Desktop Notes egy Java alkalmazás, így használhatjuk Linuxon, Machintoson,
    még Windows alatt is.<br />
    <br />
    Az alkalmazásról
    készített <a href='/screenshots'>képek</a> megtekinthetõk a honlapon.
    <br />
    A program teszt változata már letölthetõ a <a href='/download'>Letöltések</a>
    menüpontban.<br />
    Letölthetõ a jar fájl is önmagában, amit a Java futtató környezet el tud indítani
    (pl. Machintoson). Ha ezt használjuk, elsõ futtatáskor
    fogja letölteni a futás szükséges további állományokat, ezért szüksége van
    Internet kapcsolatra.<br />
    Machintossal kapcsolatban nincsenek tapasztalataim. Hogyha bárki használja a programot
    Machintoson, szívesen
    fogadok egy üzenetet hogy megfelelõen mûködik-e, esetleg pár képet a programról futás közben
    (<a href='/contact'>Kapcsolat</a>).<br />
    Ha tud valaki készíteni Machintos telepítõt hozzá, hálás leszek érte, és az is felkerül az
    oldalra. (Természetesen az illetõ nevének feltüntetésével).
  </td>
</tr>
</table>
