<p class='sima_cim'>
  Információk fejlesztõknek
</p>

<p>
  Itt hasznos információk találhatók mindazoknak akik szeretnének kiegészítõ
  alkalmazásokat készíteni a programhoz, vagy szeretnék saját programjukban
  felhasználni jegyzeteiket.
</p>

<ul>
  <li>
    <p><a href='/apn'>A Pocket Notes fájlok felépítése</a></p>
    <p style='padding-left:10px;'>
      Le van írva az .apn fájlok belsõ felépítése, ha saját feldolgozót
      szeretnénk készíteni hozzá, ez alapján nem nehéz.
    </p>
  </li>
  
  <li>
    <p><a href='/php'>Pocket Notes fájlokat kezelõ PHP könyvtár</a></p>
    <p style='padding-left:10px;'>
      Könnyen használható PHP könyvtár leírása, melynek segítségével
      PHP-ból tudjuk kezelni az .apn fájlokat. Természetesen az on-line
      konvertáló is ezt a könyvtárat használja.
    </p>
  </li>
</ul>
