<p class='sima_cim'>
  Felhasználóknak
</p>

<table width='100%' align='center' cellspacing='10px' cellpadding='0' border='0'>

<tr>
  <td class='mezo_nev' style='width:60%'>
    Pocket Notes 0.4-es, teszt változata
  </td>
  <td class='mezo_ertek' style='width:40%;text-align:right'>
    <a href='/downloads/PocketNotes_0.4.arm.CAB'>Letöltés</a> (254 Kb)
  </td>
</tr>

<tr>
  <td class='mezo_nev' style='width:60%'>
    Pocket Notes 0.3-as, teszt változata
  </td>
  <td class='mezo_ertek' style='width:40%;text-align:right'>
    <a href='/downloads/PocketNotes_0.3.arm.CAB'>Letöltés</a> (230 Kb)
  </td>
</tr>

</table>

<br />

<p class='sima_cim'>
  Desktop Notes (0.2-es teszt változat)
</p>

<table width='100%' align='center' cellspacing='10px' cellpadding='0' border='0'>

<tr>
  <td class='mezo_nev' style='width:60%'>
    Linux telepítõ (konzolról kell indítani!)
  </td>
  <td class='mezo_ertek' style='width:40%;text-align:right'>
    <a href='/downloads/DesktopNotes_0_2_install.sh'>Letöltés</a> (300 Kb)
  </td>
</tr>

<tr>
  <td class='mezo_nev' style='width:60%'>
    Windows telepítõ (tartalmazza a Java futtatókörnyezetet is)
  </td>
  <td class='mezo_ertek' style='width:40%;text-align:right'>
    <a href='/downloads/DesktopNotes_0_2_setup.exe'>Letöltés</a> (13 Mb)
  </td>
</tr>

<tr>
  <td class='mezo_nev' style='width:60%'>
    JAR fájl (elsõ használatkor Internet kapcsolat szükséges)
  </td>
  <td class='mezo_ertek' style='width:40%;text-align:right'>
    <a href='/downloads/DesktopNotes.jar'>Letöltés</a> (600 Kb)
  </td>
</tr>

</table>

<br />

<p class='sima_cim'>
  Fejlesztõknek
</p>

<table width='100%' align='center' cellspacing='10px' cellpadding='0' border='0'>

<tr>
  <td class='mezo_nev' style='width:60%'>
    Pocket Notes fájl kezelõ PHP könyvtár
  </td>
  <td class='mezo_ertek' style='width:40%;text-align:right'>
    <a href='/downloads/PocketNotes_PHP_0_1.zip'>Letöltés</a> (12 Kb)
  </td>
</tr>

</table>


<br />
<br />

<p>A programok saját felelõsségre letölthetõk és használhatók.</p>

