  <p class='sima_cim'>
    Köszöntöm a Pocket Notes honlapján!
  </p>
  
  <table width='100%' border='0' cellspacing='10px' cellpadding='0'>
  <tr>
    <td width='180px' style='vertical-align:top;'><img src='images/albums/screenshot/0_4/thumbs/Pn5.png' alt='' width='180px' height='240px' /></td>
    <td style='vertical-align:top;'>
      <p class='sima_alcim' style='padding-top:0px; margin-top:0px;'>
        A Pocket Notes-ról
      </p>
      
      <p>
        A Pocket Notes egy PDA-ra készített program, melynek segítségével
        jegyzetfüzetként használhatjuk zsebszámítógépünket. A jegyzetelés
        során több különbözõ színû és vastagságú tollakból válogathatunk,
        használhatunk szövegkiemelõ tollakat is.<br />
        <br />
        A program és ez a honlap folyamatos fejlesztés alatt áll.<br />
        <br />
        A <b>Pocket Notes</b> jelenleg letölthetõ legfrissebb változata: <b><?php echo load_file("data/data/latest_version.txt"); ?></b>
        <br />
        A <b>Desktop Notes</b> jelenleg letölthetõ legfrissebb változata: <b><?php echo load_file("data/data/latest_version_dn.txt"); ?></b>
      </p>
    </td>
  </tr>
  </table>
  
  <p class='sima_alcim'>
    Újdonságok
  </p>
  
  <table width='90%' align='center' cellspacing='0' cellpadding='0' border='0'>
  <tr>
    <td style='
      background-image:url("/images/news_left.png");
      background-repeat: repeat-y;
      background-color: #464699;
      
      padding-left:   20px;
      padding-right:  10px;
      padding-top:    10px;
      padding-bottom: 10px;
      
      color:#f0f0ff;
      font-weight: bold;
      text-align:left;
    '>2007. márc. 13.</td>
    <td width='10px' style='width:10px; background-image:url("/images/news_right.png"); background-repeat: repeat-y; background-color: #464699;'><img src='/images/nothing.gif' width='1px' height='1px' alt='' /></td>
  </tr>
  <tr>
    <th colspan='1' style='padding: 10px; font-weight: normal; text-align:left;'>
    Gyors de fontos javítás a Desktop Notes-ban, így egyetlen nap elteltével kész a 0.2-es változat :), melyhez már elérhetõ a Windows telepítõ is.
    </th>
  </tr>
  </table>
  <br />

  <table width='90%' align='center' cellspacing='0' cellpadding='0' border='0'>
  <tr>
    <td style='
      background-image:url("/images/news_left.png");
      background-repeat: repeat-y;
      background-color: #464699;
      
      padding-left:   20px;
      padding-right:  10px;
      padding-top:    10px;
      padding-bottom: 10px;
      
      color:#f0f0ff;
      font-weight: bold;
      text-align:left;
    '>2007. márc. 12.</td>
    <td width='10px' style='width:10px; background-image:url("/images/news_right.png"); background-repeat: repeat-y; background-color: #464699;'><img src='/images/nothing.gif' width='1px' height='1px' alt='' /></td>
  </tr>
  <tr>
    <th colspan='1' style='padding: 10px; font-weight: normal; text-align:left;'>
    Elérhetõ a Desktop Notes elsõ teszt változata. Minden tapasztalatot és ötletet szívesen fogadok a programmal kapcsolatban. Az alkalmazásról bõvebben a <a href='/desktop_notes'>Desktop Notes</a> menüpontban lehet olvasni.
    </th>
  </tr>
  </table>
  <br />

  <table width='90%' align='center' cellspacing='0' cellpadding='0' border='0'>
  <tr>
    <td style='
      background-image:url("/images/news_left.png");
      background-repeat: repeat-y;
      background-color: #464699;
      
      padding-left:   20px;
      padding-right:  10px;
      padding-top:    10px;
      padding-bottom: 10px;
      
      color:#f0f0ff;
      font-weight: bold;
      text-align:left;
    '>2007. márc. 2.</td>
    <td width='10px' style='width:10px; background-image:url("/images/news_right.png"); background-repeat: repeat-y; background-color: #464699;'><img src='/images/nothing.gif' width='1px' height='1px' alt='' /></td>
  </tr>
  <tr>
    <th colspan='1' style='padding: 10px; font-weight: normal; text-align:left;'>
    A letöltések nem mûködtek néhány órán át. Ezért elnézést minden érintettõl, már rendesen mûködik a rendszer. Ha bármilyen (esetleg hasonló) problémát észlelnek, kérem jelezzék <a href='/contact'>Kapcsolat</a> részben megadott elérhetõségek valamelyikén. Együttmûködésüket köszönöm.
    </th>
  </tr>
  </table>
  <br />

  <table width='90%' align='center' cellspacing='0' cellpadding='0' border='0'>
  <tr>
    <td style='
      background-image:url("/images/news_left.png");
      background-repeat: repeat-y;
      background-color: #464699;
      
      padding-left:   20px;
      padding-right:  10px;
      padding-top:    10px;
      padding-bottom: 10px;
      
      color:#f0f0ff;
      font-weight: bold;
      text-align:left;
    '>2007. márc. 2.</td>
    <td width='10px' style='width:10px; background-image:url("/images/news_right.png"); background-repeat: repeat-y; background-color: #464699;'><img src='/images/nothing.gif' width='1px' height='1px' alt='' /></td>
  </tr>
  <tr>
    <th colspan='1' style='padding: 10px; font-weight: normal; text-align:left;'>
    Új és hasznos alkalmazás készül: jön a Desktop Notes, melynek segítségével asztali gépünkön és laptopunkon is megjeleníthetjük jegyzeteinket. Az alkalmazásról bõvebben a <a href='/desktop_notes'>Desktop Notes</a> menüpontban lehet olvasni.
    </th>
  </tr>
  </table>
  <br />

  <table width='90%' align='center' cellspacing='0' cellpadding='0' border='0'>
  <tr>
    <td style='
      background-image:url("/images/news_left.png");
      background-repeat: repeat-y;
      background-color: #464699;
      
      padding-left:   20px;
      padding-right:  10px;
      padding-top:    10px;
      padding-bottom: 10px;
      
      color:#f0f0ff;
      font-weight: bold;
      text-align:left;
    '>2007. feb. 26.</td>
    <td width='10px' style='width:10px; background-image:url("/images/news_right.png"); background-repeat: repeat-y; background-color: #464699;'><img src='/images/nothing.gif' width='1px' height='1px' alt='' /></td>
  </tr>
  <tr>
    <th colspan='1' style='padding: 10px; font-weight: normal; text-align:left;'>
    A <a href='/apn'>jegyzetek formátumáról szóló leírás</a>t frissítettem.
    </th>
  </tr>
  </table>
  <br />

  <table width='90%' align='center' cellspacing='0' cellpadding='0' border='0'>
  <tr>
    <td style='
      background-image:url("/images/news_left.png");
      background-repeat: repeat-y;
      background-color: #464699;
      
      padding-left:   20px;
      padding-right:  10px;
      padding-top:    10px;
      padding-bottom: 10px;
      
      color:#f0f0ff;
      font-weight: bold;
      text-align:left;
    '>2007. feb. 9.</td>
    <td width='10px' style='width:10px; background-image:url("/images/news_right.png"); background-repeat: repeat-y; background-color: #464699;'><img src='/images/nothing.gif' width='1px' height='1px' alt='' /></td>
  </tr>
  <tr>
    <th colspan='1' style='padding: 10px; font-weight: normal; text-align:left;'>
    Felkerült a program 0.4-es változata. Érdemes váltani, sok hiba ki lett javítva.
    </th>
  </tr>
  </table>
  <br />
