<p class='sima_cim'>Telepítés</p>
<p class='sima_alcim'>Telepítés közvetlenül a PDA-ra</p>
<p>
  Indítsuk el a PDA-n az Internet Explorert, majd töltsük le a legfrissebb változat
  telepítõjét a készülékre. A feltett kérdésre igennel (yes) válaszoljunk.
</p>

<p class='sima_alcim'>Telepítés Windowsos asztali számítógép segítségével</p>
<p>
  Töltsük le a legfrissebb változat telepítõjét az asztali számítógépre, másoljuk fel
  a készülékre (például a Microsoft ActiveSync segítségével), majd a PDA-n a File
  Explorer segítségével nyissuk meg a filet. Telepítés után a Programs menüben
  megjelenik egy PocketNotes elem, melyet kiválasztva elindul a program.
</p>

<p class='sima_alcim'>A program eltávolítása</p>
<p>
  A Settings menüben a System fület kell kiválasztani, melyen található egy Remove
  Programs ikon. Ezt kiválasztva megjelenik egy lista a telepített programokról. Ezek
  között megtalálhatjuk az AbelSoft PocketNotes-ot, melyet ki kell választani, majd a
  Remove gomb segítségével el lehet távolítani a készülékrõl.
</p>
