<table width='100%' cellspacing='0' cellpadding='0' border='0'>
<tr>
  <td style='vertical-align:top;width:19px;height:20px;'><img src='/images/kerek_0.gif' alt='' width='19px' height='20px' /></td>
  <th rowspan='3' style='
    height: 70px;
  
    vertical-align:center;
    background-color: #464699;
    padding: 0px;
    
    background-image: url("/images/egesz.png");
    background-repeat: repeat-x;
  '>
    <table width='100%' cellspacing='0' cellpadding='0' border='0' style='
      background-image: url("/images/takaras.png");
      background-repeat: no-repeat;
      
      height: 70px;
      color: #ffffff;
    '>
    <tr>
      <td width='170px' style='vertical-align:center; text-align:left; padding:0px; font-size:12px;'><script type='text/javascript'><!--
        display_date();
      --></script><br />&nbsp;</td>
      <td><p class='banner_class'>
<a class='cim'>Pocket Notes</a><br />
<a class='alcim'>Latest version: 0.4</td>
      <td width='170px'>
        <img src='/images/nothing.gif' alt='' />
      </td>
    </tr>
    </table>
  </th>
  <td style='vertical-align:top;width:19px;height:20px;'><img src='/images/kerek_1.gif' alt='' width='19px' height='20px' /></td>
</tr>
<tr>
  <th rowspan='2' style='background-color:#000080; background-image:url("/images/bal.png"); background-repeat:repeat-y;'><img src='/images/nothing.gif' alt='' width='1px' height='1px' /></th>
  <td style='background-color:#d0d0ff; background-image:url("/images/jobb.png");'><img src='/images/nothing.gif' alt='' width='1px' height='30px' /></td>
</tr>
<tr>
  <td style='vertical-align:bottom;width:19px;height:20px;'><img src='/images/kerek_2.gif' alt='' width='19px' height='20px' /></td>
</tr>
</table>
